body {
  color: gray;
}
p {
  text-align: center;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #5a6275;
}
a:hover {
  cursor: pointer;
  color: black;
}
.weather-app {
  max-width: 800px;
  margin-top: 100px;
  padding: 30px;
}
.header-icon {
  font-size: 60px;
}
.header-temperature {
  font-size: 60px;
  font-weight: bold;
  color: #5a6275;
  margin: 0 20px 0 0;
  float: left;
}
.header-more {
  color: gray;
}
.header-city {
  font-size: 20px;
  clear: both;
}
.city-search {
  margin: 30px;
}
.forecast {
  margin-top: 30px;
}
.search-form input {
  padding: 10px;
  margin-right: 8;
}
.text-input {
  width: 400px;
  margin-right: 13px;
}
.button-input {
  background-color: gray;
  color: #fff;
  border: 2px solid gray;
  border-radius: 2px;
}
.button-input1 {
  background-color: green;
  color: #fff;
  border: 2px solid green;
  border-radius: 2px;
  margin-left: 13px;
}
.units {
  margin-top: 10px;
  position: absolute;
}
.footer {
  text-align: center;
  line-height: 30px;
  
}
.footer a {
  cursor: pointer;
}
